<h2 *ngIf="ticket else newTicket">Edit ticket</h2>
<ng-template #newTicket>
  <h2>Add ticket</h2>
</ng-template>

<div [formGroup]="form">
    <div class="form-group">
        <label>description: </label>
        <input type="text" class="form-control"  formControlName="description">
    </div>
    <div class="form-group">
        <label>assignee: </label>
        <input type="text" class="form-control" formControlName="assigneeId">
    </div>
    <div class="form-group">
        <label>complete: </label>
        <input type="text" class="form-control" formControlName="completed">
    </div>
</div>
<div *ngIf="formError">
    <span>Please correct form before trying to complete / save</span>
</div>
<button (click)="cancel()">Cancel</button>
<button (click)="complete()">Complete</button>
<button *ngIf="!ticket else update" (click)="save()" [disabled]="!form.valid">Save</button>
<ng-template #update>
    <button (click)="update()" [disabled]="!form.valid">Update</button>
</ng-template>